<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-fingerprintauth" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FingerPrintAuth</name>
    <js-module name="FingerPrintAuth" src="www/FingerPrintAuth.js">
        <clobbers target="FingerPrintAuth" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FingerPrintAuth">
                <param name="android-package" value="cordova.plugin.fingerprintauth.FingerPrintAuth" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/FingerPrintAuth.java" target-dir="src/cordova/plugin/fingerprintauth" />
        <source-file src="src/android/FingerprintUtil.java" target-dir="src/cordova/plugin/fingerprintauth" />
    </platform>
</plugin>